@font-face {
	font-family: "Eve Sans Neue";
	src: url("fonts/evesansneue-regular-webfont.woff2") format("woff2"),
		url("fonts/evesansneue-regular-webfont.woff") format("woff");
	font-stretch: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Eve Sans Neue";
	src: url("fonts/evesansneue-bold-webfont.woff2") format("woff2"),
		url("fonts/evesansneue-bold-webfont.woff") format("woff");
	font-stretch: normal;
	font-weight: bold;
}
@font-face {
	font-family: "Eve Sans Neue";
	src: url("fonts/evesansneue-condensed-webfont.woff2") format("woff2"),
		url("fonts/evesansneue-condensed-webfont.woff") format("woff");
	font-stretch: condensed;
	font-weight: normal;
}
@font-face {
	font-family: "Eve Sans Neue";
	src: url("fonts/evesansneue-condensedbold-webfont.woff2") format("woff2"),
		url("fonts/evesansneue-condensedbold-webfont.woff") format("woff");
	font-stretch: condensed;
	font-weight: bold;
}
@font-face {
	font-family: "Eve Sans Neue";
	src: url("fonts/evesansneue-expanded-webfont.woff2") format("woff2"),
		url("fonts/evesansneue-expanded-webfont.woff") format("woff");
	font-stretch: expanded;
	font-weight: normal;
}
@font-face {
	font-family: "Eve Sans Neue";
	src: url("fonts/evesansneue-expandedbold-webfont.woff2") format("woff2"),
		url("fonts/evesansneue-expandedbold-webfont.woff") format("woff");
	font-stretch: expanded;
	font-weight: bold;
}

* { box-sizing: border-box; }
body {
	/* css vars, heck yeah */
	/* colors */
	--bg-color: hsl(214, 55%, 21%);
	--bg-color-darker: hsl(214, 55%, 17%);
	--nav-bg-color: hsla(214, 55%, 13%, 0.4);

	--bright-bg-color: #edf0fc;
	--lighter-bg-color: #375d81;
	--error-color: hsl(3, 100%, 60%);
	--highlight-color: hsl(48, 100%, 50%);

	--cancelled-bg-color: hsl(3, 100%, 60%);
	--cancelled-border-color: hsl(3, 100%, 33%);
	--irregular-bg-color: hsl(145, 70%, 50%);
	--irregular-border-color: hsl(145, 70%, 33%);

	/* element sizes */
	--header-height: 56px;
	--nav-height: 26px;

	--info-box-height: 120px;
	--list-item-height: 30px;

	--day-column-min-width: 120px;
	--day-holiday-min-height: 200px;
	--lesson-min-width: 50px;
	--timeunit-header-height: 24px;
	--timeunit-height: 42px;

	background: var(--bg-color);
	color: var(--bright-bg-color);
	font-family: "Eve Sans Neue", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12pt;
	font-stretch: normal;
	font-weight: bold;
	margin: 0;
	padding: 0;
	position: relative;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

/* Class names that core.js uses to show/hide UI parts */
body[class=""] #class-list { display: flex; }

body[class$="error"] #error { display: flex; }
body[class$="error"] header a h1:before, body[class$="noscript"] header a h1:before {
	content: "Vertretungsplan";
}

body[class="holidays"] #holiday-list {
	display: flex;
}
body[class="holidays"] header a h1:before {
	content: "";
}

body[class^="page"] #table-container {
	display: block;
}

body[class~="loading"] #loading {
	display: flex;
}

/* Not elegant, but it keeps the JS nice and readable */
body[class="page0"] #table-container .week:nth-of-type(1) { display: flex; }
body[class="page1"] #table-container .week:nth-of-type(2) { display: flex; }
body[class="page2"] #table-container .week:nth-of-type(3) { display: flex; }

header, nav {
	/*position: absolute;*/
	position: -webkit-sticky;
	position: sticky;
	z-index: 42;
}
header a, nav a {
	color: var(--bright-bg-color);
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

html:not(.m_csspositionsticky) header, html:not(.m_csspositionsticky) nav {
	position: relative;
}
html:not(.m_csspositionsticky) nav {
	top: 0px;
}

header {
	top: 0;
}
header::after {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: calc(var(--header-height) + var(--nav-height)); /* header height + nav height */

	background: linear-gradient(to bottom, var(--bg-color) 0%, var(--bg-color-darker) 100%);
	box-shadow: 0 0 4px rgba(0,0,0,.8);

	z-index: -1;
}
/*html:not(.m_csspositionsticky) body {
	padding-top: 82px;
}*/
html.m_backdropfilter header::after {
	background: linear-gradient(to bottom, transparent -10%, var(--nav-bg-color) 100%);
	-webkit-backdrop-filter: blur(20px);
}

header a h1:before {
	content: "Vertretungsplan für ";
}
header a h1 {
	font-stretch: expanded;
	height: var(--header-height);
	line-height: var(--header-height);
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Navigation bar */
nav {
	display: flex;
	height: var(--nav-height);
	line-height: calc(var(--nav-height) + 2px);
	top: var(--header-height);
}
nav a {
	cursor: pointer;
	flex: 1 1 auto;
	font-weight: bold;
	position: relative;
	text-decoration: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	transition: .12s ease-in-out;
	transition-property: background, color;
}
nav a:hover {
	background: var(--bright-bg-color);
	color: var(--lighter-bg-color);

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

nav a[data-disabled=true],
body[class$="error"] nav a,
body:not([class^="page"]) #nav-previous,
body:not([class^="page"]) #nav-next,
body[class="page0"] #nav-previous,
body[class="page2"] #nav-next {
	opacity: .5;
	pointer-events: none;
}

#error, #loading, #noscript {
	align-items: center;
	color: white;
	display: none;
	flex-direction: column;
	height: var(--info-box-height);
	justify-content: center;
}
#error span, #error a, #loading span, #noscript span {
	font-size: 1.5em;
	text-align: center;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

#error .message { font-size: 0.9em; }
#error .technical-message { font-size: 0.75em; }
#error .technical-message.active::before { content: "("; }
#error .technical-message.active::after { content: ")"; }
#error .reload-link {
	color: white;
	font-size: 0.9em;
}

#noscript {
	display: flex;
}

#error, #noscript { background: var(--error-color); }
#loading { background: var(--bg-color); }

/* List of classes. Makes heavy use of display: flex; */
#class-list {
	background: var(--bright-bg-color);
	display: none; /* Overridden by body class above */
	flex-wrap: wrap;
	padding: 1px;
}
#class-list a, #holiday-list div {
	background: var(--lighter-bg-color);
	border: solid 1px var(--bg-color);
	color: var(--bright-bg-color);
	flex: 1 0 auto;
	min-height: var(--list-item-height);
	line-height: var(--list-item-height);
	margin: 1px;
	min-width: calc(var(--list-item-height) * 2.1);
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 2px rgba(0,0,0,.5), 0 2px 1px rgba(0,0,0,.5);
}
#class-list a {
	transition: .12s ease-in-out;
	transition-property: background, box-shadow, color, text-shadow;
}
#class-list a:hover, #class-list a.last-viewed {
	background: var(--bright-bg-color);
	color: var(--lighter-bg-color);
	text-shadow: 0 0 2px rgba(255,255,255,.5), 0 2px 1px rgba(255,255,255,.5);
}

#holiday-list {
	background: var(--bright-bg-color);
	display: none;
	flex-direction: column;
	font-stretch: normal;
	padding: 1px;
	text-shadow: 0 0 2px rgba(0,0,0,.5), 0 2px 1px rgba(0,0,0,.5);
}

/* Container for timetable elements */
#table-container {    
	background: var(--bright-bg-color);
	display: none;
	text-shadow: 0 0 2px rgba(0,0,0,.8), 0 1px 1px rgba(0,0,0,.66);
}

#table-container .week {
	display: none; /* Overridden by body class above */
	flex-direction: column;
	padding: 1px 2px 0 2px;
}
#table-container .week[data-visible=false] {
	display: none;
}

#table-container .week .days {
	display: flex;
	overflow-x: auto;

	/* Use this to have all columns share a perspective */
	/*perspective: 1400px;*/
}

#table-container .week .days .day {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;

	font-stretch: expanded;
	
	margin: 1px 0;
	min-width: var(--day-column-min-width);
	
	position: relative;
	
	text-align: center;

	/* Use this to have each column have its own perspective */
	perspective: 640px;
}
#table-container .week .days .day:not(:last-of-type) {
	margin-right: 2px;
}
#table-container .week .days .day.holiday {
	max-width: var(--day-holiday-min-height);
}

#table-container .week .days .day .header {
	display: flex;
	flex-direction: column;
	justify-content: center;

	background: var(--bg-color);
	border: solid 1px rgba(0,0,0,.3);
	font-size: 0.9em;
	height: 42px;
}
#table-container .week .days .day.today .header {
	color: var(--highlight-color);
}

#table-container .week .days .day .timeunit {
	height: 42px;
	margin: 1px 0;
	position: relative;
}

#table-container .week .days .day .timeunit.lesson {
	display: flex;
}

#table-container .week .days .day .timeunit.lesson .lesson-container {
	background: var(--lighter-bg-color);
	border: solid 1px var(--bg-color);

	position: relative;
	
	flex: 1 1 auto;

	min-width: var(--lesson-min-width);

	padding: 0 10px;

	/* Use this to have each lesson container have its own perspective */
	perspective: 640px;
}

#table-container .week .days .day .timeunit.lesson .lesson-container:not(:first-of-type) {
	margin-left: 2px;
}

#table-container .week .days .day .timeunit.lesson .lesson-container .lesson {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	flex: 1 1 auto;
}
#table-container .week .days .day .timeunit.lesson .lesson-container .lesson.info {
	overflow: hidden;
}
#table-container .week .days .day .timeunit.lesson .lesson-container.cancelled {
	background: var(--cancelled-bg-color);
	border-color: var(--cancelled-border-color);
}
#table-container .week .days .day .timeunit.lesson .lesson-container.irregular {
	background: var(--irregular-bg-color);
	border-color: var(--irregular-border-color);
}

#table-container .week .days .day .timeunit.lesson .lesson-container .lesson span {
	font-size: .9em;

	transition: .2s ease-in-out;
	transition-property: transform, opacity;
	will-change: transform, opacity;
}
#table-container .week .days .day .timeunit.lesson .lesson-container .lesson.info span {
	opacity: 0;
}
#table-container .week .days .day .timeunit.lesson .lesson-container .lesson.info span:first-of-type {
	transform: translateY(-75%);
}
#table-container .week .days .day .timeunit.lesson .lesson-container .lesson.info span:last-of-type {
	transform: translateY(75%);
}
#table-container .week .days .day .timeunit.lesson .flip-box:checked ~ .lesson-container .lesson:not(.info) span {
	opacity: 0;
	transform: translateZ(-150px);
}
#table-container .week .days .day .timeunit.lesson .flip-box:checked ~ .lesson-container .lesson.info span {
	opacity: 1;
	transform: translateY(0%);
}

#table-container .week .days .day .timeunit.lesson .flip-box {
	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;
	border-radius: 0;
	border: none;

	background: transparent;

	position: absolute;
	margin: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;

	display: block;

	z-index: 10;
}

#table-container .week .days .day .timeunit.free {
	visibility: hidden;
}
#table-container .week .days .day .timeunit:nth-of-type(2) {
	margin-top: 2px;
}

#table-container .week .days .day .timeunit.holiday {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: center;
	min-height: var(--day-holiday-min-height);
}
#table-container .week .days .day .timeunit.holiday span {
	align-self: center;
	flex: 0 1 auto;
	font-size: 1.1em;
	transform: rotate(-90deg);
}

/* Timeunit/substitution headers and footers with start and end time */
#table-container .week .days .day .timeunit.time {
	border: solid 1px var(--bg-color);
	font-stretch: expanded;
	height: var(--timeunit-header-height);
	line-height: calc(var(--timeunit-header-height) - 2px);
}
#table-container .week .days .day .timeunit.time,
#table-container .week .days .day .timeunit.holiday,
#table-container .week .substitution.header.weekday {
	background: var(--lighter-bg-color) linear-gradient(-45deg, 
		rgba(24,49,82,0.6) 25%, 
		transparent 25%, 
		transparent 50%, 
		rgba(24,49,82,0.6) 50%, 
		rgba(24,49,82,0.6) 75%, 
		transparent 75%, 
		transparent);
	background-size: 4px 4px;
}

#table-container .week .substitution {
	background: var(--lighter-bg-color);
	border: solid 1px var(--bg-color);
	height: var(--timeunit-header-height);
	line-height: calc(var(--timeunit-header-height) - 1px);
	margin: 1px 1px 1px 0;
	text-align: center;
}
#table-container.noSubst .week .substitution {
	display: none;
}

#table-container .week .substitution.past {
	opacity: .75;
}
#table-container .week .substitution.header {
	background: var(--bg-color);
}
#table-container .week .substitution.header.weekday {
	position: relative;
}

/* Footer */
footer {
	background: var(--nav-bg-color);
	height: var(--nav-height);
	line-height: var(--nav-height);
	text-align: center;
}

/* Ten Foot UI */

body.tenfoot {
	font-size: 20pt;
}

/* Media Query overrides after this point */

@media screen and (prefers-reduced-motion) {
	/* Disable all animations here */
	nav a,
	#class-list a,
	#table-container .week .days .day .timeunit.lesson .lesson-container .lesson span {
		transition: none;
	}
}

/* Desktop browsers */
@media screen and (min-width: 541px) {
	span.short { display: none; }
}

@media screen and (orientation: landscape) and (max-width: 820px), screen and (max-width: 540px) {
	body {
		/* CSS variable overrides */
		--header-height: 40px;
		--timeunit-header-height: 22px;
	}
	header a h1:before {
		content: "Plan für ";
	}
	header a h1 {
		font-size: 1.5em;
		font-stretch: expanded;
	}

	nav a {
		font-stretch: condensed;
		font-weight: normal;
	}
}

/* Mobile browsers/narrow windows */
@media screen and (max-width: 540px) { 
	span.long { display: none; }
	
	#error span {
		font-size: 1.3em;
	}

	#holiday-list {
		font-stretch: condensed;
		font-weight: normal;
	}
	
	#table-container .week .days .day .header,
	#table-container .week .days .day .timeunit.time,
	#table-container .week .substitution.header {
		font-size: 0.9em;
		font-stretch: expanded;
		font-weight: bold;
	}
	
	#table-container .week .days .day .timeunit {
		margin: 1px 0;
	}
	
	#table-container .week .days .day .timeunit.time {
		line-height: calc(var(--timeunit-header-height) - 0.5px);
	}

	#table-container .week .days .day .timeunit.lesson .lesson span {	
		font-size: .8em;
		font-weight: bold;
	}

	#table-container .week .substitution:not(.header) {
		font-size: .9em;
	}

	footer {
		font-weight: normal;
		font-stretch: condensed;
	}
}

